{% load static %}
<html>
<head>
    <title>Iniciar Sesión</title>
</head>
<body>

    {% block content %}
        {% if form.errors %}
            <p>Error en el inicio de sesión. Por favor, verifica tus credenciales e inténtalo nuevamente.</p>
        {% endif %}

        <div class="login">
            <h2 class="active">Iniciar Sesión</h2>

            <form method="post">
                <h4>Inicio de Sesión</h4>
                {% csrf_token %}

                <input type="text" class="text" name="username" placeholder="Username">
                <br>

                <input type="password" class="text" name="password" placeholder="Password">
                <br>

                <button class="signin" type="submit">
                    Iniciar Sesión
                </button>

                <hr>

                <hr class="nonactive"><a href="{% url 'crear_usuario' %}">Crear cuenta</a></hr>
            </form>
        </div>

    {% endblock %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/inicio_sesion.css' %}">

</body>
</html>
