{% extends "index.html" %}
{% load static %}

{% block content %}
    <h2>Lista de productos</h2>
    {% if reportes %}
        {% for reporte in reportes %}
            <hr>
            <p><b>Solicitud: </b>{{ reporte }}</p>
            <p><b>Fecha:</b> {{ reporte.fecha}}</p>
            
            <!-- Iterar sobre los DetalleReporte asociados a este Reporte -->
            {% for detalle in reporte.detallereporte_set.all %}
                <p>Producto: {{ detalle.producto.nombre_articulo }} - Cantidad: {{ detalle.cantidad }}</p>
            {% endfor %}
            
            <a href="{% url 'eliminar_reporte' pk=reporte.pk %}">Eliminar solicitud</a>
            <hr>
        {% endfor %}
        
        <!-- Agregar enlace para eliminar todos los reportes -->
        <a href="{% url 'borrar_todos_reportes' %}">Eliminar todos los reportes</a>
    {% else %}
        <p>No hay solicitudes aún.</p>
    {% endif %}
    <br>
    <a href="{% url 'hacer_reporte' %}">Hacer solicitud</a>
{% endblock %}
