{% extends "index.html" %}
{% load static %}

{%block content%}
    <h2>Lista de productos</h2>
    {% if reportes %}
        {% for reporte in reportes %}
            <hr>
            <p><b>Solicitud: </b>{{ reporte }}</p>
            <p><b>Estado:</b> {{ reporte.estado}}</p>
            <p><b>Fecha:</b> {{ reporte.fecha}}</p>
            <a href="{% url 'eliminar_reporte' pk=reporte.pk %}">Eliminar solicitud </a>
            <hr>
        {% endfor %}
    {% else %}
        <p>No hay solicitudes aún.</p>
    {% endif %}
    <br>
    <a href="{% url 'hacer_reporte' %}">Hacer solicitud</a>
{%endblock%}