{% extends "index.html" %}
{% load static %}

{% block title %}
    Añadir material
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div >
        <h2>Crear material</h2>
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit" class="button-signup" id="btn-submit">
            Crear
        </button>
        <button type="button" href="{% url 'lista_materiales' %}">
            Cancelar
        </button>
    </div>
</form>
{% endblock %}
