{% extends "index.html" %}
{% load static %}

{% block title %}
    Inventario de Materiales
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'lista_materiales.css' %}">
  <link rel="stylesheet" href="{% static 'lista_materiales_tabla.js' %}">

  <h2 class="text-center mb-4">Inventario de Materiales</h2>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text" id="searchInput" class="form-control" placeholder="Buscar material...">
  </div>

  <div class="table-container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Artículo</th>
          <th scope="col">Cantidad Disponible</th>
          <th scope="col">Categoría</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if materiales %}
          {% for material in materiales %}
            <tr>
              <td>{{ material.nombre_articulo }}</td>
              <td>{{ material.cantidad }}</td>
              <td>{{ material.categoria }}</td>
              <td>
                <a href="{% url 'ver_producto' pk=material.pk %}" class="btn btn-primary btn-sm">
                    Ver Detalles
                </a>
              </td>
              <td>
                {% if material.cantidad > 0 %}
                  <form method="post" action="{% url 'agregar_al_carrito' pk=material.pk %}" enctype="multipart/form-data" class="mt-4 form-inline">
                    {% csrf_token %}
                    <div class="form-group mr-2">
                      <label for="cantidad{{ material.pk }}">Cantidad a Agregar:</label>
                      <input type="number" name="cantidad_a_agregar" id="cantidad{{ material.pk }}" class="form-control" min="1" value="1">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-success" id="btn-submit">
                        Agregar al Carrito
                      </button>
                    </div>
                  </form>
                {% else %}
                  <p>Material agotado</p>
                {% endif %}
              </td>
            </td>
            {% if user.is_authenticated and user.rol == 'Admin' %}
            <td>
                <a href="{% url 'editar_material' pk=material.pk %}">Editar producto</a>
              </td>
              <td>
                <a href="{% url 'agregar_material' pk=material.pk %}">Agregar más</a>
              </td>
              <td>
                <a href="{% url 'eliminar_material' pk=material.pk %}">Eliminar material</a>
              </td>
            {% endif %}
          </tr>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="5" class="text-center">No hay materiales agregados aún.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  {% if materiales %}
    <div class="pagination-container">
      <span class="pagination-info">Página {{ materiales.number }} de {{ materiales.paginator.num_pages }}.</span>
      <span class="pagination-links">
        {% if materiales.has_previous %}
          <a href="?page=1">&laquo; primera</a>
          <a href="?page={{ materiales.previous_page_number }}">anterior</a>
        {% endif %}
        <span class="current-page">{{ materiales.number }}</span>
        {% if materiales.has_next %}
          <a href="?page={{ materiales.next_page_number }}">siguiente</a>
          <a href="?page={{ materiales.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
      </span>
    </div>
  {% endif %}

  {% if request.GET.taken == "true" %}
  <div class="alert alert-success" role="alert">
      ¡Producto tomado exitosamente!
  </div>
{% endif %}

<div class="text-center mt-4">
  <a href="{% url 'ver_carrito' %}" class="btn btn-info">Ver Carrito</a>
  {% if user.is_authenticated and user.rol == 'Admin' %}
    <a href="{% url 'añadir_material' %}" class="btn btn-success">Agregar Material</a>
  {% endif %}
</div>

  
{% endblock %}
