{% extends "index.html" %}
{% load static %}

{% block title %}
    Tomar producto
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div >
        <h2>Tomar producto</h2>
        <p><b>Artículo:</b> {{ material.nombre_articulo }}</p>
        <p><b>Cantidad disponible:</b> {{ material.cantidad }}</p>
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit" class="button-signup" id="btn-submit">
            Tomar
        </button>
        <a type="button" href="{% url 'lista_materiales' %}">
            Cancelar
        </a>
    </div>
</form>
{% endblock %}