{% extends "index.html" %}
{% load static %}

{% block title %}
    Tomar Producto
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-center">Tomar Producto</h2>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <p><strong>Artículo:</strong> {{ material.nombre_articulo }}</p>
              <p><strong>Cantidad disponible:</strong> {{ material.cantidad }}</p>
              <img src="{{ material.imagen.url }}" alt="{{ material.nombre }}" class="img-thumbnail" width="100">
            </div>

            <form method="post" enctype="multipart/form-data" class="mt-4">
              {% csrf_token %}
              
              <!-- Agrega un label para la entrada de cantidad -->
              <div class="form-group">
                <label for="{{ form.cantidad_a_tomar.id_for_label }}">Cantidad a Tomar:</label>
                {{ form.cantidad_a_tomar }}
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-success" id="btn-submit">
                  Tomar
                </button>
                <a href="{% url 'lista_materiales' %}" class="btn btn-secondary ml-2">
                  Cancelar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
